.tile {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(252, 252, 191);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    user-select: none;
}

.letter {
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
    flex: 1;
    color: black !important;
    user-select: none;
}

.points {
    margin: 0;
    font-weight: bold;
    /* text-align: end; */
    font-size: 0.7em;
    align-self: flex-end;
    color: black !important;
    user-select: none;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Aligner-item {
    max-width: 50%;
  }
  

  
  .Aligner-item--bottom {
    align-self: flex-end;
  }

  .submitted {
    animation-name: animate;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }

  
  
  @keyframes animate
  {     
          /* from {
          transform: scale(1);
          }

          to {
            transform: scale(1.2); 
          } */
          0% { transform: translateX(0%); } 
          15% { transform: translateX(-25%) rotate(-15deg); } 
          30% { transform: translateX(20%) rotate(17deg); } 
          45% { transform: translateX(-15%) rotate(-13deg); } 
          60% { transform: translateX(10%) rotate(12deg); } 
          75% { transform: translateX(-5%) rotate(-19deg); } 
          100% { transform: translateX(0%); } 
  }


  @media only screen and (max-width: 992px) {

    .letter {
      font-size: 0.8em;
    }

    .points {
      font-size: 0.6em;
    }


  }