.tile {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(252, 252, 191);
}

.letter {
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

.points {
    font-weight: bold;
    text-align: end;
    font-size: 0.6em;
}