.pointsOuterBox{
    margin:auto;
    text-align: center;
    background-color: lightgreen;
    width:80%;
    border-radius: 5px;
          /* display: flex;
      justify-content: center;
      align-items: center; */
}

.bold{
    font-weight: bold;
}



  .mytable {
    border: 2px solid blue;
    width:80%;
    margin-left:auto;
    margin-right: auto;
  }

  .mytable td, th {
    border: 2px solid blue;
  }