.wrappingSquare {
    width: 14.28%;
    position: relative
    /* height: 100% */
}


/* The following two maintain the aspect ratio of the tile and are from https://mademyday.de/height-equals-width-with-pure-css/ */
.wrappingSquare:before {
	content: "";
	float: left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.content {
	float: left;
}

.wrappingRack {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}